@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/* Menggunakan import utama resmi untuk Tailwind v4 */
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Fix Leaflet marker icon di Vite */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png);
}